/* Import Font */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff0f6;
    color: #333;
}

/* Warna Tema Pink */
.bg-pink {
    background-color: #ffc0cb !important;
}

.btn-pink {
    background-color: #ff69b4;
    border: none;
    color: white;
}

.btn-pink:hover {
    background-color: #ff1493;
}

.table-pink th {
    background-color: #ff69b4;
    color: white;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
